
html {
	height: 100%;
}

body {
	min-height: 100%;

	margin: 0;
	padding: 0;
}

#cabeçalho {
	border: 1px solid #000;

	text-align: center;
}

#conteúdo {
	border: 1px solid #000;
}

#rodapé {
	border: 1px solid #000;

	position: sticky;

	top: 100%;

	text-align: center;
}
