/* html { height: 100%; } */
body {
	min-height: 100vh;
	margin: 0;
	
	display: flex;
	flex-direction: column;
	
	font-family: Verdana;
}
header { background-color: rgb(255, 191, 191); }
article { background-color: rgb(191, 255, 191); flex-grow: 1; }
footer { background-color: rgb(191, 191, 255); }
ul {
	display: flex;
	justify-content: space-evenly;
	
	list-style-type: none;
}
