html {
	height: 100%;
}
body {
	margin: 0;
	height: -webkit-fill-available;
}
header, footer {
	background-color: rgb(191,191,191);
}
ul {
	display: flex;
	justify-content: space-evenly;
	
	list-style-type: none;
}
