html {
	height: 100%;
}
body {
	margin: 0;
	height: -webkit-fill-available;
	
	display: flex;
}
header {
	background-color: rgb(255, 191, 191);
}
article {
	background-color: rgb(191, 255, 191);
}
footer {
	background-color: rgb(191, 191, 255);
}
ul {
	display: flex;
	justify-content: space-evenly;
	
	list-style-type: none;
}
